/.venv
/venv
/*cassandra
/*elasticsearch
*kafka*
__pycache__
.pytest_cache
test*.py
dockerfile
notes.txt
GUIDELINES.md
CHECKLIST.md
CHECKLIST_TEMP.md
*.venv
*.coverage
*mongodb-linux
*apache-cassandra*
*cassandra.*
*elasticsearch-*
es.log
model1.db
sftp_temp.txt
temp.txt
zk.log
nohup.out